
.signupcontainer {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.signuptitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.inputgroup {
    margin-bottom: 15px;
}

.inputgroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.inputgroup input:focus {
    border-color: #007bff;
    outline: none;
}

.buttongroup {
    text-align: center;
}







.errormessage {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}


.buttongroup {
    display: flex;                 
    justify-content: space-between; 
    align-items: center;        

}

.signup {
    padding: 10px 20px;            
    border: none;    
    background-color: rgb(81, 121, 180);                
    border-radius: 4px;             
    font-size: 16px;                 
    cursor: pointer;                 
    transition: background-color 0.3s;
}





.back {
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #41a15e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

